/* Project style file */
* {
  box-sizing: border-box;
}

.main-wrapper {
  width: 600px;
  margin: 0 auto;
  background-color: #ccc;
  border: 1px solid #000;
}

.calc-wrapper {
  background-color: #fff;
  margin: 0 auto;
  height: 100%;
  margin: 30px;
}

.calc-wrapper header {
  background: black;
  color: white;
}

h1 {
  padding: 5px 10px;
}

.btns-wrapper table {
  height: 400px;
}

body .btns-wrapper table tr td {
  width: 25%;
  height: 25%;
  vertical-align: middle;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}

.btns-wrapper td:hover {
  background: grey;
}

.btn-number {
  background: white;
}

.btn-operation {
  background: green;
}

.btn-trash {
  float: right;
}

input[type='text'] {
  font-size: 22px;
  padding: 5px;
  margin-left: 10px; 
}
